{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

<!--
-->
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
    &#187; <a href="/">sourcefu</a>
  {% else %}
  {% endif %}
{% endfor %}

{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
  {% else %}
    &#187; <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
  {% endif %}
{% endfor %}
<p/>
